body {
    background-color: #FFF;
}

h1 {
    background: azure;
    margin-top: 0;
    margin-bottom: 0;
    
}

#header {
    background: azure;
    border: solid rgb(167, 165, 165);
    border-width: 1px 0;
    padding: 10px 0;
    /* width: 980px; */
    /* border-bottom: solid 1px; */
    margin-top: 0;
}

#header ul {
    margin: 0;
    padding: 0;   
}

#header ul:after {
    content: "";
    clear: both;
    display: block;
}

#header ul li {
    list-style: none;
    float: left;
    border-left: solid 1px rgb(167, 165, 165);;
    padding: 0 10px;
    box-sizing: border-box;
    width: 326px;
    text-align: center;
    font-size: 14px;
    line-height: 1.429;
    
}

#header ul li:first-child {
    border-left: none;
}

#header ul li a{
    color: #aaaaaa;
    text-decoration: none;
}

.search {
    margin-left: 270px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
#search {
    width: 400px;
    height: 40px;
    vertical-align: top;
    font-size: 14px;
    border-radius: 4px;
}

#submit {
    border-style: none;
    width: 50px;
    height: 45px;
    background-color: #CCCCCC;
    font-size: 14px;
    border-radius: 4px;
}

#search:hover {
    outline: solid 0.1px #CCCCCC;
}

.result {
    margin: 15px auto -15px 0px;
    width: 980px;
    font-size: 16px;
    border-bottom: solid 1px #CCCCCC;
    padding: 10px 10px 10px 10px; 
    width: 1200px;
}

.regBook {
    border-bottom: solid 1px #CCCCCC;
    margin-bottom: 20px;
}

.register {
    margin-bottom: 5px;
    border-style: none;
    width: 50px;
    height: 30px;
    background-color: #CCCCCC;
    font-size: 14px;
    border-radius: 4px;

}